body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    margin: 0%;
    background: #222;
    background-image: url(img/nit.jpg);
    background-repeat: none;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size:100%;
    position: relative;
}
.main{
    padding: 2em;
    background:rgba(14, 15, 15, 0.8);
    border-radius: 30px;
    width: 100%;
    max-width: 430px;
    margin:1em;
    color: white;
}
.bar{
    color: aliceblue;
    border-radius: 18px;
    height:auto;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 2px 1px rgb(36, 34, 34);
    font-size: 120%;
    padding: 5px;
    background-color: rgba(34, 34, 34, 0.39);
}
.bar input:focus {
    outline: none;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input:focus {
    outline: none;
}

button{
    margin:  0.6em;
    border-radius: 50%;
    border: none;
    height: 35px;
    width: auto;
    background-color: rgb(94, 90, 90);
}
.button :hover{
    background-color: rgb(139, 139, 145);
    
}
h1{
    margin: 0;
    margin-bottom: 0.4cm;
}
.weather{
    text-transform: capitalize;
    margin-left: 8px;
}
.flex{
    display: flex;
    align-items: center;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px; 
}
